Source: ros-groovy-brics-actuator
Section: misc
Priority: extra
Maintainer: Russell Toris <rctoris@wpi.edu>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-catkin, ros-groovy-geometry-msgs, ros-groovy-message-generation
Homepage: http://ros.org/wiki/brics_actuator
Standards-Version: 3.9.2

Package: ros-groovy-brics-actuator
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-geometry-msgs, ros-groovy-message-runtime
Description: Messagse Defined in the BRICS Project
